
.container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.bodyWhite {
    background-color: #fff;
}

.containerBlack {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    background-color: #282c34;
}

.bodyBlack {
    background-color: #282c34;
    color: #fff;
}
