

.card {
    margin: 10px;
}

.action {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0;
}

.iconAction {
    font-size: 20px;
}

.actionContainer {
    display: flex;
    align-items: center;
}

.likedIkon {
    margin: 0 20px 0 0;
    color: #FC6C85
}

.cardTitle {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid lightgray;
}

.actionList {
    position: absolute;
    bottom: -70px;
    right: 0;
    background-color: #fff;
    border: 1px solid lightgray;
}

.actionListHiden {
    display: none;
}

.actionListItem {
    padding: 5px 10px;
}

